.popups{
	position:absolute;
	width:800px;
	height:500px;
	z-index: 7;
}
.closeButton{
	position: absolute;
	top: 150px;
	width: 325px;
	height: 82px;
	left:275px;
	margin:0;
	background-image: url("assets/Go Button (Close Button).png");
	background-position: center;
	background-size: cover;
	background-color: transparent;
	border-style: none;
	z-index: 8;
	transform:scale(1);
	margin-top: 100px;

}

.gameBG{
	transform: translate3d(0,0,0);
	background-image: url("assets/grungeBG.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.closeButton:hover{
	cursor:pointer;
	transform:scale(1.2);
}
.scenes{
	position:absolute;
	z-index:7;
}
#wrapper {
	position: absolute;
	white-space: nowrap;
}

.ddeath{
	opacity:0;
	position: absolute;

	z-index:6;
}
.fadeOutAnimation{
	animation-name: fadeOut;
	animation-duration: 1s;
}
@keyframes fadeOut{
	from {opacity:1;}
    to {opacity:0;}
}

.someButton{
	position: absolute;
	width: 200px;
	height: 50px;
	border:none;
/*	display:block;
	margin:auto;*/
	border-radius: 10px;
	background-color:#80ccff;
	color:black;
	font-size:20px;
}

.someButton:hover{
	background-color:#5fb8f4;
	cursor:pointer;

}

